# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.sln.docstates
*.slnx.user

# Build
x64/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.tlog

# Banco local
sara.db
sara.db.bak
*.db
*.db.bak

# Saídas geradas
SARA_Relatorio.csv
SARA_Grafo.md
SARA_Dados.json
SARA_Relatorio_Executivo.txt
Base_IBGE_Surtos.csv

# Sistema
Thumbs.db
desktop.ini